.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.2);
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: space-between;

}

.nav__notification{
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 130px;
    bottom: 15px;
}

.nav__link{
    color: inherit;
    color: #2e363e;;
}

input:focus{
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.nav__notification1{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    bottom: 25px;
}